/* General */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f4f8; /* Gris claro */
    color: #333; /* Gris oscuro */
}

/* Header */
header {
    background-color: #223343; /* Azul marino oscuro */
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #add8e6; /* Azul claro */
}

/* Main */
main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 30px;
}

.btn-primary, .btn-secondary {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 10px;
}

.btn-primary {
    background-color: #007bff; /* Azul */
    color: white;
}

.btn-secondary {
    background-color: #6c757d; /* Gris */
    color: white;
}

.btn-primary:hover, .btn-secondary:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Builder Container */
#builder-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.component-selector {
    width: 30%;
}

.component-details {
    width: 65%;
}

#component-list {
    list-style: none;
    padding: 0;
}

#component-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#component-list li:hover {
    background-color: #f0f0f0;
}

#component-info {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* PC Predefinidas */
#pc-predefinidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pc-card {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Footer */
footer {
    background-color: #343a40; /* Gris oscuro */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Utilities */
.hidden {
    display: none;
}
